<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newperson.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/39c88b37-a040-4db5-9c60-5714efcb95a2/resourceGroups/newperson/providers/Microsoft.Web/sites/NewPerson</ResourceId>
    <UserName>$NewPerson</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://newperson.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>